*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: sans-serif;
}

.outer-container{
    height: 23rem;
    width: 20rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10%;
}

.top-card{
    height: 8.75rem;
    display: flex;
    background-color: #4070f4;
    justify-content: center;
    align-items: end;
    border-radius: 30px 30px 0 0;
    margin-bottom: 1.5rem;
}

.profile-pic{
    position: relative;
    bottom: -1rem;
    border-radius: 50%;
    border: 3px solid white;
    outline: 3px solid #4070f4;
    height: 7.5rem;
}

h3,p{
    text-align: center;
    margin: 0.5rem 0 0.5rem 0;
}

.socials-container{
    display: flex;
    margin: 1rem 0 1rem 0;
    justify-content: center;
    gap: 1.25rem;
}

.socials{
    height: 1.25rem;
}

.button-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

button{
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    color: white;
    background-color: #4070f4;
    margin-bottom: 1rem;
    border: none;
}

.footer{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer-items{
    display: flex;
    gap: 0.5rem;
}

.foot{
    position: relative;
    height: 1rem;
}

span{
    border-right: 1px solid gray;
    padding-right: 0.75rem;
}

.last-child{
    border-right:none;
}